<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/style/styles.css}">
</head>
<body >
  <h1>Welcome Back! </h1>
  <span th:text="${username}" ></span>
  <form th:action="@{/newbook}">
      <button type="submit">Add Book</button>
  </form>
    <table>
        <tr>
            <td>Title</td>
            <td>Author</td>
            <td>Publisher</td>
            <td>Release Year</td>

        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.publisher}"></td>
            <td th:text="${book.releaseYear}"></td>
            <td><a th:href="@{/deletebook(book_id = ${book.id})}">Remove</a></td>
        </tr>
    </table>
  <form th:action="@{/logout}" method="post">
      <button type="submit" value="Logout">Logout</button>
  </form>
</body>
</html>
